h1{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 0;
}
#main{
    padding: 2%;
}

h1{
    font-size: 2em;
}
section{
    border: 2px solid #000;
    background-color: #999999;
}

#chicken{
    width: 31%;
    float: left;
    padding: 1%;
}

#beef{
    width: 32%;
    float: left;
    padding: 1%;
}
#sushi{
    width: 31%;
    float: left;
    padding: 1%;
}

.p1{
background-color: #d59898;
padding: 10px;
width: 35%;
float: right;
text-align: center;
margin: 0;
border: 2px solid #000;
}

.p2{
    background-color: #C14543;
    padding: 10px;
    width: 35%;
    float: right;
    text-align: center;
    color: #fff;
    margin: 0;
    border: 2px solid #000;
}

    .p3{
        background-color: #E5D198;
        padding: 10px;
        width: 35%;
        float: right;
        text-align: center;
        margin: 0;
        border: 2px solid #000;
    }

    .dtitre{
        height: 26px;
    margin-top: -1px;
    margin-right: -2px;
    }
    p{
        padding: 10px;
    }



    @media only screen and (max-width: 991px) and (min-width: 768px) {

        #chicken , #beef {
            width: 48%;
        }

       #sushi{
            width: 98%;
        }
        

      }

      @media only screen and (max-width: 767px) {

        #chicken , #beef , #sushi{
            width: 98%;
        }
        

      }

      